html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: 25%;
    margin-right: 25%; 
    color: white;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 15px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

#blue {
  color: #3b5998;
}

#blue:hover {
  background-color: #3b5998;
  color: white;
  text-decoration: none;
}

#orange {
  color: orange;
}

#orange:hover {
  background-color: orange;
  color: white;
  text-decoration: none;
}